body { background-color: #3F0E9F;
display: flex;
align-items: center;
justify-content: center;}

.container { background-color: #FF1E55;
width: 45%;
height: 40%;
display: flex;
border-radius: 20px;
position: relative;
background-image: url('https://cdn141.picsart.com/309256231011211.png?type=webp&to=min&r=640');
background-repeat: no-repeat;
background-position: right;
background-size: contain;}




form { display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5 3 10 3;
    justify-content: space-between;
    margin: 0 20;
    font-family: Quicksand;
    color: white;
}

.log-in { height: 40px;
display: flex;
width: 100%;
height: 100%;}

#button { background-color:#3F0E9F;
    border-radius: 25px;
    border: 1px solid #202157;
height: 45px;
width: 100%;
cursor: pointer;
color: white;;
}

#Nombre, #Password { border-radius: 25px;
color: #ffffff;
border: 1px solid #202157;
height: 45px;
width: 100%;
cursor: pointer;}
